@import "constants";
@import "mixins";
@import "placeholder";

.filters {
  &__container {
    display: flex;
    flex-direction: column;
    max-width: 27%;
    padding: 10px 15px 10px 10px;
    box-shadow: 0 0 10px 2px $color-primary;
  }
}

.filter__list {
  display: flex;
  flex-direction: column;
  align-items: space-between;
  justify-content: flex-start;
  margin: 20px 0 20px 0;
  border: none;
  &-item {
    display: flex;
    align-items: center;
    gap: 10px;
    white-space: nowrap;
  }
}
.filter {
  &-form {
    margin-bottom: 30px;
  }
  &__label {
    @include font(2rem, 120%);
    color: $color-text;
  }
  &__input {
    display: inline-flex;
    width: 1.8rem;
    height: 1.8rem;
     &:checked {
    cursor: grab;
    accent-color: $color-primary-additional;
    }
  }
  &__buttons {
    display: flex;
    justify-content: space-between;
  }
}
.reset__btn,
.copy__btn {
  @include font(1.8rem, 120%);
  width: 120px;
  height: 50px;
}

.form-title {
  @include font(2rem, 120%, 900);
  color: $color-text;
  margin: 0 0 10px 0;
  vertical-align: baseline;
}

// Slider
.form__price,
.stock-price {
  margin-bottom: 40px;
}

.price-input,
.stock-input {
  width: 80%;
  display: flex;
  margin-bottom: 35px;
}
.price-input .field,
.stock-input .field {
  display: flex;
  width: 100%;
  height: 45px;
  align-items: center;
}
.field input {
  width: 100%;
  height: 100%;
  outline: none;
  font-size: 19px;
  margin-left: 12px;
  border-radius: 5px;
  text-align: center;
  border: 1px solid #999;
  -moz-appearance: textfield;
}
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
}
.price-input .separator,
.stock-input .separator {
  width: 130px;
  display: flex;
  font-size: 19px;
  align-items: center;
  justify-content: center;
}
.slider {
  height: 5px;
  position: relative;
  background: #ddd;
  border-radius: 5px;
}
.slider .progress {
  height: 100%;
  left: 25%;
  right: 25%;
  position: absolute;
  border-radius: 5px;
  background: $color-primary-additional;
}
.price__range-input,
.stock__range-input {
  position: relative;
}
.price__range-input input,
.stock__range-input input {
  position: absolute;
  width: 100%;
  height: 5px;
  top: -5px;
  background: none;
  pointer-events: none;
  -webkit-appearance: none;
  -moz-appearance: none;
}
input[type="range"]::-webkit-slider-thumb {
  height: 17px;
  width: 17px;
  border-radius: 50%;
  background: $color-primary-additional;
  pointer-events: auto;
  -webkit-appearance: none;
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.05);
}
input[type="range"]::-moz-range-thumb {
  height: 17px;
  width: 17px;
  border: none;
  border-radius: 50%;
  background: $color-primary-additional;
  pointer-events: auto;
  -moz-appearance: none;
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.05);
}
