@import "constants";
@import "mixins";
@import "placeholder";

// Обнуление
* {
	padding: 0;
	margin: 0;
	border: 0;
}
*,*:before,*:after {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
:focus,:active {
	outline: none;
}

a:focus, a:active {
	outline: none;
}

nav, section, article, footer, header, aside {
	display: block;
}

html, body {
	height: 100%;
	width: 100%;
	font-size: 100%;
  font-size: 14px;
  line-height: 1;
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
}
input, button, textarea {
	font-family: inherit;
}
input::-ms-clear {
	display: none;
}
button {
	cursor: pointer;
}
button::-moz-focus-inner {
	padding:0;
	border:0;
}
a, a:visited {
	text-decoration: none;
}
a:hover {
	text-decoration: none;
}
ul li {
	list-style: none;
}
img {
	vertical-align: top;
}

h1,h2,h3,h4,h5,h6 {
	font-size:inherit;
	font-weight: 400;
}
/*--------------------*/

html {
  font-size: 10px;
}

body {
	@extend %font-primary;
  @include font($size: 1.6rem, $height: 130%);
	display: flex;
  flex-direction: column;
	color: $color-text;
	scroll-behavior: smooth;
	background: $color-primary-light;
}

body::-webkit-scrollbar {
	width: 8px;
  border-radius: 5px;
  background-color: $color-background-secondary;
  cursor: pointer;
}

body::-webkit-scrollbar-thumb {
	background-color: $color-primary;
  border-radius: 8px;
  padding: 20px 0;
  cursor: pointer;
}

.main-content {
  flex: 1 1 auto;
}

.container {
  max-width: $content-width;
  margin: 0 auto;
  padding: 0 20px;
	@include min-media-desktop {
		max-width: 100%;
	}
  @include max-media-small-desktop {
    max-width: 1000px;
  }

  @include max-media-tablet {
    max-width: 740px;
    padding: 0 20px;
  }
  @include max-media-mobile {
    max-width: 500px;
    padding: 0 10px;
  }
}

.wrapper {
	display: flex;
	justify-content: center;
	width: 100%;
	padding: 30px 0;
}

.link {
	@extend %transition;
	@include font(2.5rem, 120%);
	color: $color-primary-light;
}

.title {
  @include font(4rem, 140%, 700);
  color: $color-primary-light;
	text-transform: uppercase;
  text-align: center;
	letter-spacing: 0.1rem;
	@include min-media-desktop {
		@include font(7rem, 140%, 700);
	}
}

.btn {
	@extend %transition;
	border-radius: 8px;
  background-color: $color-primary-additional;
  border: 1px solid $color-primary-additional;
  color: $color-primary-light;
  font-weight: 700;

	&:hover {
		background-color: darken($color-primary-additional, 5%);
		border: 1px solid darken($color-primary-additional, 5%);
		}
}

.ico {
	cursor: pointer;
}

.hidden {
	display: none;
}
