$color-primary: #5c5c5c;
$color-primary-dark: #000000;
$color-primary-light: #FFFFFF;
$color-primary-additional: #cc5f00;
$color-secondary: #FBEBC3;
$color-text: #494949;
$color-background-primary: #FFFFFF;
$color-background-secondary: #FAF9F6;

$font-size-sm: 15px;
$font-size-md: 16px;
$font-size-lg: 20px;
$font-size-xl: 25px;

$line-height-sm: 22px;
$line-height-md: 25px;
$line-height-lg: 32px;
$line-height-xl: 39px;

// resolution params
$desktop-width: 1600px;
$content-width: 1340px;
$small-desktop-width: 1000px;
$tablet-width: 768px;
$mobile-width: 480px;