@import "constants";
@import "mixins";
@import "placeholder";

.footer__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  @include max-media-tablet {
    flex-direction: column-reverse;
    gap: 20px;
  }
}

.copirate {
  display: flex;
  align-items: center;
  gap: 15px;
  &__link {
    color: $color-text;
    text-transform: capitalize;
  }
}

.footer__copirate {
  @include font(1.6rem, 120%, 700);
  flex-basis: calc(50% - 30px);
  color:  $color-text;
}

.rss__logo {
  @extend %transition;
  width: 80px;
  height: 50px;
  fill:  $color-text;
  &:hover {
    fill: darken($color-primary-dark, 20%);
  }
}
