@import "reset";
@import "constants";
@import "mixins";
@import "placeholder";

.header {
  padding: 10px 0px 10px 0px;
  background: $color-primary;
  &__logo-wrap{
    display: flex;
    justify-content: center;
    align-items: center;
  }
  &__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
  }
  &__search {
    position: relative;
    &-wrap{
      flex-grow: 1;
      max-width: 50%;
    }
  }
}
.title {
  flex-grow: 0;
}
.search-field {
  &__input {
  @include font($size: 1.6rem, $height: 130%);
  @extend %transition;
  display: block;
  width: 100%;
  padding: 10px 15px;
  height: 40px;
  box-shadow: 0 0 8px rgb(0 0 0 / 5%);
  border: 1px solid $color-background-secondary;
  background: $color-primary-light;
  color: $color-primary-dark;
  border-radius: 3px;
  }
  &__btn {
    position: absolute;
    width: 45px;
    height: 38px;
    line-height: 43px;
    top: 1px;
    right: 1px;
    padding: 0;
    background: $color-primary-light;
    font-size: 16px;
    font-weight: 400;
    color: $color-primary-dark;
  }
}
.cart__wrapper {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.cart {
  @extend %transition;
  position: relative;
  display: flex;
  justify-content: space-around;
  align-items: center;
  &__count {
    @extend %transition;
    @include font(1.6rem, 2.8rem);
    position: absolute;
    right: -14px;
    top: -14px;
    display: inline-block;
    min-width: 28px;
    height: 28px;
    padding: 0 5px;
    border-radius: 14px;
    text-align: center;
    background: $color-primary-additional;
    color: $color-primary-light;
  }

  &__link {
    @include font(2rem, 120%);
    display: flex;
    gap: 10px;
    align-items: center;
    color: $color-background-secondary;
    a {
      text-decoration: none;
    }
  }
  &__icon {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 54px;
    height: 54px;
    border-radius: 4px;
    background: $color-background-primary;
    color: #000;
    text-indent: -1px;
    box-shadow: 0 0 8px rgb(0 0 0 / 5%);
    border: 1px solid #f0f0f0;
    transition: all .2s cubic-bezier(0.4,0,0.2,1);
    .material-icons {
      @include font(2.8rem, 120%);
    }
  }
}
