body {
    color: #fff;
    /* background: red; */
    background: #17181c;
    font-family: sans-serif;
}

header {
    padding: 10px 30px;
}

header h1 {
    font-size: 40px;
    font-weight: 800;
}

footer {
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
footer .copyright {
    font-size: 14px;
    color: #333;
    text-align: center;
}
footer .copyright a {
    color: #444;
}
footer .copyright a:hover {
    color: #555;
    transition: all 0.3s;
}
footer .copyright:before {
    content: '©';
}

.footer__link {
    font-size: 14px;
    color: #333;
    text-align: center
}
.footer__link:hover{
    color: #555;
    transition: all 0.3s;
}
.rss__logo {
  width: 100px;
  height: 50px;
  fill:  #333;
  transition: all 0.3s;
}
.rss__logo:hover{
   fill: #555;
}

@media(max-width: 768px) {
    header h1 {
        text-align: center;
    }
   .rss__logo {
        width: 60px;
        height: 50px;
    }
}